<ActionBar title="Pensionskammen" class="action-bar"></ActionBar>
<AbsoluteLayout >
    <Image left="0" top="0" width="1280" height="600" src="~/images/comb_0_small.jpg" stretch="none"></Image>
    <Image left="0" top="0" [width]="fullCombWidth" height="600" src="~/images/comb_small.jpg" stretch="none"></Image>
    <Button left="20" top="10" text="+ 1 dag" (tap)="addOneDay()" class="btn btn-active"></Button>
    <Button left="500" top="10" text="- 1 dag" (tap)="detractOneDay()" class="btn btn-active"></Button>
    <Label left="300" top="30" text="{{pensionDate | date: 'yyyy-MM-dd'}}"></Label>
</AbsoluteLayout>